{:kotoba.app/id "cloud.itonami.isic-861", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreief222izwpxmatl2v2ywwj63zxky5iivwp6tkr6qo2v3kpf3fnhge", :kotoba.app/embed-url "ipfs://bafkreief222izwpxmatl2v2ywwj63zxky5iivwp6tkr6qo2v3kpf3fnhge", :published {:archive "https://kotobase.net/ipfs/bafkreief222izwpxmatl2v2ywwj63zxky5iivwp6tkr6qo2v3kpf3fnhge", :size 72394, :put-status 201, :get-status 200, :at "2026-08-15T14:01:48.178Z"}}
